@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #F2F2F2;
}

/* Navigation Container START */

.container {
    max-width: 1440px;
    padding: 34px 5%;
    margin: 0 auto;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a, p {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.29px;
    color: #1E0E62;
    text-decoration: none;

}

.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #1E0E62
}

.menu a {
    text-decoration: none;
    color: #1E0E62;
}

.menu a:hover {
    color:#482BE7;
}

.sign-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
    align-items: center;
}

.signIn:hover {
    cursor: pointer;
    color:#482BE7;
}

.signUp:hover {
    cursor: pointer;
    background-color: #1E0E62;
}

.signIn {
    color: #1E0E62;
    background-color: transparent;
    border-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.signUp {
    background-color: #482BE7;
    border-radius: 100px;
    width: 100px;
    height: 40px;
    border-style: none;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

}

@media all and (max-width: 960px) {
    .navigation {
        flex-direction: column;
        gap: 30px;
    }

    .menu ul {
        gap: 20px;
    }
}