* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
}

.container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    background-color: #FFF7F0;
    width: 1440px;
    height: 1020px;
    padding-right: 135px;
    padding-left: 135px;
}

.container > h2 {
    padding-top: 100px;
    padding-right: 385px;
    padding-left: 385px;
    padding-bottom: 70px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 320px;
    background-color: #ffffff;
    padding: 28px;
    border-radius: 6px;
}

.shadowCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.checked {
    color: #FDDA5F;
}

h3 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #1E2A39;

}

.content p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #696C74;
    font-size: 14px;
    line-height: 26px;

}

img {
    width: 50px;
    padding-right: 13px;
}

.authorBox {
    padding-top: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #1E2A39;
    font-size: 16px;
}

.authorinfo > p {
    color: #A4A7B0;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

button {
    width:fit-content;
    background-color: transparent;
    border: none;
    color: #1E2A39;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

}

button:hover {
    cursor:pointer;
    color: #616163;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 100px;
}


.info-container {
    display: flex;
    flex-direction: row;
    gap: 82px;
    padding-left: 266px;
    padding-right: 266px;
}

.info > h2 {
    font-size: 36px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #1E2A39;
    line-height: 46px;
}

.info > p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #696C74;
}